*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --yellow: #eaaa00;
  --orange: #ed6e1c;
  --green: #009639;
  --light-green: #9bbd1e;
  --blue: #0067b2;
  --dark-blue: #00375f;
  --white: #ffffff;
  --gray-1: #53565a;
  --gray-2: #b6c7cf;
  --accent-yellow: #ffe500;
  --accent-red: #e30613;
  --font-base: 'Inter', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  background-color: var(--white);
  color: var(--gray-1);
  line-height: 1.5;
  overflow-x: hidden;
}


a {
  color: var(--orange);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  font-family: var(--font-base);
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}


.container {
  width: min(100% - 2rem, 800px);
  margin: 0 auto;
}


h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  color: var(--dark-blue);
  line-height: 1.2;
}


@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
